.redsquarestyle {
	background-color: red;
	width: 30px;
	height: 30px;
}
.greensquarestyle {
	background-color: green;
	width: 30px;
	height: 30px;
}
.yellowsquarestyle {
	background-color: yellow;
	width: 30px;
	height: 30px;
}
